@font-face {
    font-family: "Tigalari";
    src: url("./fonts/TuluLipi.woff") format("woff");
    font-display: swap;
}


* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'TuluLipi';
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
}
.app-container{ 
  gap: 12px;
  padding: 8px;
}

#typed-text {
  font-size: 1.4rem;
  padding: 16px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #444;
}

#suggestion-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  height: 60px;
  border-bottom: 1px solid #444;
}

.suggestion {
  flex: 1;
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  cursor: pointer;
}

.suggestion:first-child {
  color: #4c9eff;
  font-weight: 600;
}



#keyboard {
    background-color: none;
    padding: 5px;
    touch-action: none; /* ⚠️ CRITICAL: Prevents scrolling while swiping */
    user-select: none;
}

.key-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.key {
    background: rgb(46, 46, 48);
    border-radius: 5px;
    padding: 10px 0;
    width: 9%; /* Adjust based on key count */
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: background 0.1s;
}

.key:active, .key.active {
    background-color: #4c9eff;
    color: white;
}

/* Special keys wider */
.key-special {
    width: 15%;
    font-size: 1rem;
    background-color: rgb(46, 46, 48);
}

.display-container{
  padding: 12px 0px;
}

#display-container {
  padding-left: 32px;
  background: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tulu-text {
    font-family: 'TuluLipi';
    font-size: 24px;
    color: #f0f0f0;
    min-height: 32px;
}

.latin-subtext {
    font-family: monospace; /* Monospace helps align letters */
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}


